<div class="container">

  <div class="row">
    <div class="col col-md-6 pt-4 pb-2">
        <pagination-limit-selector (pageSize)="updateList($event)"></pagination-limit-selector>
    </div>
    <div class="col col-md-6 pt-4 pb-2 d-flex">
      <!-- Botón para añadir nuevas filas -->
      <button type="button"
              class="ms-auto btn btn-secondary btn-sm"
              (click)="agregarFila()">Añadir Fila
      </button>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col col-md-12">

      <!-- Tabla -->
      <table class="table table-striped table-bordered ">
        <thead >
          <tr>
            <th scope="col" class="bg-primary text-white">Id</th>
            <th scope="col" class="bg-primary text-white">
              <!-- Nombre -->
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <search-box-thead
                    *ngIf="pokemonSearchFlag.name; else notSearchName"
                    [inputType]="'text'"
                    [inputMaxLength]="'20'"
                    (searchTerm)="pokemonSearch($event, 'name')">
                  </search-box-thead>
                </div>
                <div class="col-sm-1">
                  <ng-template #notSearchName>Nombre </ng-template>
                  <i [ngClass]="{'fa-magnifying-glass': !pokemonSearchFlag.name, 'fa-xmark': pokemonSearchFlag.name}"
                     class="fa-solid  ms-2"
                     (click)="showSearch('name')">
                  </i>
                </div>
              </div>
            </th>
            <th scope="col" class="bg-primary text-white">Imagen</th>
            <th scope="col" class="bg-primary text-white">
              <!-- Altura -->
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <search-box-thead
                    *ngIf="pokemonSearchFlag.height; else notSearchHeight"
                    [inputType]="'number'"
                    [inputMaxLength]="'999'"
                    (searchTerm)="pokemonSearch($event, 'height')">
                  </search-box-thead>
                </div>
                <div class="col-sm-1">
                  <ng-template #notSearchHeight>Altura </ng-template>
                  <i [ngClass]="{'fa-magnifying-glass': !pokemonSearchFlag.height, 'fa-xmark': pokemonSearchFlag.height}"
                     class="fa-solid  ms-2"
                     (click)="showSearch('height')">
                  </i>
                </div>
              </div>
            </th>
            <th scope="col" class="bg-primary text-white">
              <!-- Peso -->
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <search-box-thead
                    *ngIf="pokemonSearchFlag.weight; else notSearchWeight"
                    [inputType]="'number'"
                    [inputMaxLength]="'999'"
                    (searchTerm)="pokemonSearch($event, 'weight')">
                  </search-box-thead>
                </div>
                <div class="col-sm-1">
                  <ng-template #notSearchWeight>Peso </ng-template>
                  <i [ngClass]="{'fa-magnifying-glass': !pokemonSearchFlag.weight, 'fa-xmark': pokemonSearchFlag.weight}"
                     class="fa-solid  ms-2"
                     (click)="showSearch('weight')">
                  </i>
                </div>
              </div>
            </th>
            <th scope="col" class="bg-primary text-white">Detalle</th>
            <th scope="col" class="bg-primary text-white">Editar</th>
            <th scope="col" class="bg-primary text-white">Eliminar</th>
          </tr>
        </thead>
        <tbody class="table-striped">
          <tr *ngFor="let register of pokemonRegister; let i = index">
            <td>{{ register.id }}</td>
            <td>
              <input type="text" name="name{{i}}" #nameField="ngModel" [(ngModel)]="register.name" size="10" required />
              <div *ngIf="nameField.touched && nameField.invalid">
                <small class="text-danger">El nombre es requerido.</small>
              </div>
            </td>
            <td>
              <input type="text" name="image{{i}}" #imageField="ngModel" [(ngModel)]="register.urlImage" size="10" placeholder="Digitar URL de la imagen" required />
              <div *ngIf="imageField.touched && imageField.invalid">
                <small class="text-danger">La URL es requerida.</small>
              </div>
            </td>
            <td>
              <input type="number" name="height{{i}}" #heightField="ngModel" [(ngModel)]="register.height" size="10" required/>
              <div *ngIf="heightField.touched && heightField.invalid">
                <small class="text-danger">La altura es requerido.</small>
              </div>
            </td>
            <td>
              <input type="number" name="weight{{i}}" #weightField="ngModel" [(ngModel)]="register.weight" size="10" required/>
              <div *ngIf="weightField.touched && weightField.invalid">
                <small class="text-danger">El peso es requerido.</small>
              </div>
            </td>
            <td><tag-input name="abilities{{i}}" #abilitiesField="ngModel"
                           [(ngModel)]="register.abilities"
                           [placeholder]="'Añade una habilidad...'"
                           [secondaryPlaceholder]="'Ingresar habilidad(es)'"
                           size="10" required>
                </tag-input>
                <div *ngIf="abilitiesField.touched && !register.abilities.length">
                  <small class="text-danger">Se requiere al menos una habilidad.</small>
                </div>
            </td>
            <td>
              <button type="button"
                      class="btn btn-success btn-sm"
                      (click)="guardarRegistro(i)">
                <i class="fa-regular fa-floppy-disk"></i> Guardar
              </button>
            </td>
            <td>
              <button type="button"
                      class="btn btn-warning btn-sm"
                      (click)="cancelarRegistro(i)">
                <i class="fa-regular fa-rectangle-xmark"></i> Cancelar
              </button>
            </td>
          </tr>
          <tr *ngFor="let pokemon of pokemonDataTable.pageData; let i = index">
            <td class="align-middle">
              {{ pokemon!.id }}
            </td>
            <td class="align-middle">
              <input *ngIf="pokemon!.onEdition; else notEditName" [(ngModel)]="pokemon!.name">
              <ng-template #notEditName>{{ pokemon!.name }}</ng-template>
            </td>
            <td class="text-center align-middle">
              <img [src]="pokemon!.sprites.other!.dream_world.front_default"
                   [alt]="pokemon!.name"
                   class="img-thumbnail">
            </td>
            <td class="text-center align-middle">
              <input *ngIf="pokemon!.onEdition; else notEditHeight" [(ngModel)]="pokemon!.height">
              <ng-template #notEditHeight>{{ pokemon!.height }}</ng-template>
            </td>
            <td class="text-center align-middle">
              <input *ngIf="pokemon!.onEdition; else notEditWeight" [(ngModel)]="pokemon!.weight">
              <ng-template #notEditWeight>{{ pokemon!.weight }}</ng-template>
            </td>
            <td class="text-center align-middle">
              <button type="button"
                      class="btn btn-info btn-sm"
                      [disabled]="pokemon!.onEdition"
                      (click)="pokemonDetail(pokemon!.id, content)">
                <i class="fa-regular fa-eye"></i> Ver +
              </button>
            </td>
            <td class="text-center align-middle">
              <button type="button"
                      class="btn btn-success btn-sm"
                      *ngIf="pokemon!.onEdition; else editButton"
                      (click)="pokemonUpdate(pokemon!.id)">
                <i class="fa-regular fa-floppy-disk"></i> Guardar
              </button>
              <ng-template #editButton>
                <button type="button"
                        class="btn btn-primary btn-sm"
                        (click)="pokemonEdit(pokemon!.id)">
                  <i class="fa-regular fa-pen-to-square"></i> Editar
                </button>
              </ng-template>
            </td>
            <td class="text-center align-middle">
              <button type="button"
                      class="btn btn-warning btn-sm"
                      *ngIf="pokemon!.onEdition; else editDelete"
                      (click)="pokemonCancel(pokemon!.id)">
                <i class="fa-regular fa-rectangle-xmark"></i> Cancelar
              </button>
              <ng-template #editDelete>
                <button type="button"
                        class="btn btn-danger btn-sm"
                        (click)="pokemonDelete(pokemon!.id)">
                  <i class="fa-regular fa-trash-can"></i> Eliminar
                </button>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Fin Tabla -->

      <!-- Paginación -->
      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="pokemonDataTable.pageTotal"
          [(page)]="pokemonDataTable.pageCurrent"
          [pageSize]="pokemonDataTable.pageSize"
          [maxSize]="4"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="pokemonPagination()"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header bg-primary">
		<h5 class="modal-title" id="modal-basic-title">Información</h5>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div class="row">

      <!-- Imagen -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img [src]="pokemonInfo?.sprites?.other?.dream_world?.front_default"
             alt="{{ pokemonInfo?.name }}" class="img-fluid">
      </div>

      <!-- Información -->
      <div class="col-md-6">
        <p><strong>ID:</strong> {{ pokemonInfo?.id }}</p>
        <p><strong>Nombre:</strong> {{ pokemonInfo?.name }}</p>
        <!-- Lista de habilidades -->
        <p *ngFor="let ability of pokemonInfo?.abilities; let i = index">
          <strong>Habilidad {{ i + 1 }}:</strong> {{ ability.ability.name }}
        </p>
        <p><strong>Altura:</strong> {{ pokemonInfo?.height }}</p>
        <p><strong>Peso:</strong> {{ pokemonInfo?.weight }}</p>
        <p><strong>Experiencia básica:</strong> {{ pokemonInfo?.base_experience }}</p>
      </div>

    </div>
  </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('SCross click')">Cerrar</button>
	</div>
</ng-template>
<ng-template #standardTpl> I'm a standard toast </ng-template>
